//@import "select2.css";

div.content {
	margin-top:20px;
	margin-bottom:50px;
}

div.panel {
	&.drug {
		position:relative;
		margin-top:20px;
		padding-top:80px;
	}
	&.callout p {
		font-weight:300;
	}
}
div.topbar {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:55px;
	line-height:50px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	h4 {
		margin-bottom:0;
		padding-bottom:0;
		//color: lighten(#000, 30%);
		font-weight:400;
		span.characterization {
			display:block;
			font-size:0.6em;
			color: lighten(#000, 30%);
			font-weight:300;
		}
	}
	&.suspect {
		background-color:#B3DDED;
	}
	&.concomitant {
		background-color:#A1839F;
	}
	&.interacting {
		background-color:#045D6D;
	}
}

.safetyreport {
	.key {
		font-weight:400;
		margin-bottom:2.5px;
	}
	.value {
		min-height:25px;
		font-weight:300;
		margin-bottom:10px;
	}
	&.list {
	}
}