{% extends "layout.html" %}
{% block body %}
{% for report in reports %}
	<div class="panel row">
		<div class="small-12 columns">
			<h2><a href="/safetyreport/{{ report._source.safetyreportid }}">{{ report._source.safetyreportid }}</a></h2>
			<div class="row">
				<div class="large-6 columns">
					<b>Received Date</b>: {{ report._source.receivedate }}<br>
					<b>Company Number</b>: {{ report._source.companynumb }}<br>
					<b>Product(s) Involved</b>: {% for drug in report._source.patient.drug %}{{ drug.medicinalproduct }}{% if not loop.last %}, {% endif %}{% endfor %}<br>
				</div>
				<div class="large-6 columns">
					<b>Reaction(s)</b>: {% for reaction in report._source.patient.reaction %}{{ reaction.reactionmeddrapt }}{% if not loop.last %}, {% endif %}{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% else %}
	<div class="row">
		<div class="small-12 columns">
			<p>Unbelievable.  No entries here so far.</p>
		</div>
{% endfor %}
{% endblock %}
